body {
  background-color: rgb(225, 185, 180);
  font-family: 'Arial', 'sans-serif';
  margin-left: 20%;
  margin-right: 20%;
}

.subtitle {
  text-align: center;
}

ul {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

li {
  padding: 10px;
}

.landImage {
  width: 250px;
  height: auto;
  border: solid 3px rgb(165, 125, 120);
}

h1 {
  text-align: center;
}

.recipes {
  list-style: none;
}

.recipeImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  border: solid 3px rgb(165, 125, 120);
  margin-bottom: 50px;
}

.return {
  text-align: center;
}