body {
  background-color: rgb(225, 185, 180);
  font-family: 'Arial', 'sans-serif';
}

ul {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.landImage {
  width: 250px;
  height: auto;
  padding: 10px;
}

h1 {
  text-align: center;
}

.recipes {
  list-style: none;
}